.header{border-bottom: 1px solid #f5b5c2;background: url(../images/headerBg.jpg) no-repeat center top;height: 3rem;width: 100%;
	background-size: cover;line-height: 3rem;padding-top: 0.3rem;
}
.logo{height: 2.2rem;margin-left: 0.5rem;position: relative;margin-top: 0.2rem;float: left;}
.logo .logoImg{width: 2.5rem;position: absolute;left:0.3rem;top: 0.3rem;}
.logo .line1{width:2.6rem;height:2.6rem;position: absolute;left: 0.1rem;top: 0.1rem;border:2px solid #fff;
	border-radius: 80px 80px 80px 80px;	border-right-color: transparent;border-top-color: transparent;}




.logoWrap{width:2.1rem;height:2.1rem;background:url(../images/logo.png) no-repeat center center;position: relative;border-radius: 70px;
    background-size: cover;float: left;}
.logoWrap .line2{width: 2.35rem;height: 2.35rem;position: absolute;left:-6%;top:-6%;border:2px solid rgba(255,255,255,1);border-radius: 100px 100px 100px 100px;
    border-left-color: rgba(255,255,255,0.4);border-right-color: rgba(255,255,255,0.4);}
.logo span{display: inline-block;float: left;margin-left: 0.3rem;font-size: 0.6rem;color: #fff;margin-top: -0.5rem;font-family: "微软雅黑"}

.header .myInfo{float: right;margin-right: 15px;margin-top: -0.3rem;font-size: 0.4rem;}
.header .myInfo a{color: #fff;}





/*content*/
.content{padding-bottom: 0.2rem;}
.proList{margin-bottom: 15px;}
.proList li{height: 1.2rem;line-height: 1.2rem;padding: 0.1rem 0;box-sizing: content-box;border-bottom: 1px solid #dddddd;background:#fff;font-size: 0.4rem;}
.imgWrap{display: table-cell;height: 100%;height: 100%;}
.imgStyle{height: 90%;}
.trigStyle{width: 0.5rem;}

.finalInfo{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.finalInfo li{border-bottom: none;}
.proList .borderStyle{border-bottom: 1px solid #ddd;height: 100%;}

.marketInfo{border-top: 1px solid #ddd;}

.proListCon a{color: #333}
.trigStyle{-webkit-transition:0.2s;}







